html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(122, 122, 122);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_wrapper{
    margin: 5%;
    width: 80%;
    height: 60%;
}

.carousel {

}

.btn {
    height: 2.5rem;
}